<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calcular Area</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <main>
            <div class="form-container">
                <h2>Slecciona La Figura</h2>
                <form action="/calcular" method="POST">
                    <select name="figura" id="figura" onchange="mostrarInputs()">
                        <option value="">Selecciona la Figura</option>
                        <option value="Hexagono">Hexagono</option>
                        <option value="Trapecio">Trapecio</option>
                        <option value="Triangulo">Triangulo</option>
                    </select>
                    <div id="inputs"></div>
                    <button type="submit">Calcular Area</button>
                </form>
                <% if (typeof resultado!== 'undefined') { %>
                    <div class="result">Area: <%= resultado %></div>
                <% } %>
            </div>
            <script>
                function mostrarInputs(){
                    const figura = document.getElementById("figura").value;
                    const contenedor = document.getElementById("inputs");
                    contenedor.innerHTML = "";
                    if(figura==='Hexagono'){
                    contenedor.innerHTML = `
                    <imput type="number" name="base" placeholder="Base" required />
                    <imput type="number" name="altura" placeholder="Altura" required />
                    `;
                    } else if(figura==='Trapecio'){
                    contenedor.innerHTML = "";
                    contenedor.innerHTML = `
                    <imput type="number" name="base" placeholder="Base" required />
                    <imput type="number" name="altura" placeholder="Altura" required />
                    `;
                    } else if(figura==='Triangulo'){
                    contendor.innerHTML = "";
                    contenedor.innerHTML = `
                    <imput type="number" name="base" placeholder="Base" required />
                    <imput type="number" name="altura" placeholder="Altura" required />
                    `;
                    }
                }
            </script>
        </main>
    </body>
</html>